:root {
    --black: rgb(26, 25, 25);
    --dark: rgb(129, 127, 127);
    --blacklight: rgb(104, 101, 101);
    --white: #fff;
    --blue: #3440ab;
    --lightblue: #78a8cf;
    --red: #ee4c24;
    --light: rgb(245, 157, 122);
    --redlight: rgb(245, 106, 51);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

.text-gray {
    color: var(--dark);
}

.text-main {
    color: var(--redlight) !important;
}

.bg-main {
    background: var(--redlight) !important;
}

body {
    background: var(--white);
}

.navbar {
    background: var(--light) !important;
}

.navbar-nav .nav-item {
    margin-left: 1rem;
}

.navbar-brand h2 {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.nav-item .nav-link {
    color: var(--white) !important;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.nav-item .nav-link:hover {
    color: var(--redlight) !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.15em !important;
}

.fa-bars {
    font-size: 1.9rem !important;
}

.passport-border-color {
    background: var(--light);
    border-radius: 50%;
    border: 4px solid var(--redlight);
    z-index: 999;
    -ms-transform: rotate(320deg);
    transform: rotate(320deg);
}

.social-links {
    list-style: none;
    display: flex;
}

.social-links>li {
    color: var(--blacklight);
    margin-right: 1rem;
}

p {
    font-size: 1rem !important;
}

h1 {
    font-size: 3rem;
}

h5 {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

div .ball-animate:nth-child(1) {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient( closest-side at 60% 55%, rgb(254, 255, 255), rgb(248, 180, 103));
    z-index: -99;
    opacity: 0.6;
    animation: float 10s infinite;
    animation-timing-function: ease-in;
}

div .ball {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient( closest-side at 60% 55%, rgb(254, 255, 255), rgb(248, 180, 103));
    z-index: -99;
    opacity: 0.6;
}

div .ball:nth-child(2) {
    position: absolute;
    right: 50%;
    top: 50%;
}

div .ball-animate:nth-child(2) {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient( closest-side at 60% 55%, rgb(254, 255, 255), rgb(248, 180, 103));
    z-index: -99;
    opacity: 0.6;
    animation: floatb 10s infinite;
    animation-timing-function: ease-in;
}

@keyframes float {
    from {
        top: 0px;
        left: 100px;
    }
    to {
        top: 100px;
        left: 400px;
    }
}

@keyframes floatb {
    from {
        top: 0px;
        right: 100px;
    }
    to {
        top: 100px;
        right: 400px;
    }
}

.project-display {
    transition: ease-in 0.3s;
}

.project-display:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}

.btn1 {
    border: none;
    outline: none;
    padding: 5px 13px;
    font-size: 1.2rem;
    background: rgb(247, 140, 98);
    border-radius: 15px;
    color: #fff;
    transition: 0.3s;
}

.btn1:hover {
    background: rgb(245, 106, 51);
}

.form-control {
    outline: none !important;
}

.form-control:focus {
    border: 1px solid var(--redlight) !important;
    box-shadow: none !important;
}

.top-arrow {
    bottom: 70px !important;
    right: 50px !important;
}

.top-arrow-link {
    color: var(--redlight);
    cursor: pointer;
    transition: 0.3s;
}

.top-arrow-link:hover {
    color: var(--light);
}

.fa-facebook-f:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-phone:hover {
    color: #2f41dd;
}

footer {
    border-top: 0.1rem solid var(--light) !important;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--light);
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

.bar {
    position: relative;
    margin: auto;
    display: none;
}

.bar i {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

#check {
    display: none;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .passport-res {
        width: 50%;
        height: 50%;
        z-index: -99;
    }
    .passport-border {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-nav {
        margin-top: 0.7rem;
    }
    div .ball-animate {
        display: none;
    }
    .social-links {
        justify-content: center;
        margin-left: 1rem;
    }
    .top-arrow {
        bottom: 40px !important;
        right: 40px !important;
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}