* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 100%;
    font-family: "poppins";
    font-weight: 500;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #58e693 0%, #5a64f1 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    width: 400px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 600;
    font-size: 30px;
}

.input-env {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.input-env input {
    padding-left: 15px;
    font-size: 19px;
    width: 100%;
    border: 1px solid rgb(150, 146, 146);
    border-radius: 3px;
}

.input-env input:focus {
    outline: none;
    border: 2px solid #512cb9;
}

.input-env button {
    width: 50px;
    margin-left: 5px;
    color: #fff;
    background: #512cb9;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    pointer-events: none;
}

.input-env button.active {
    opacity: 1;
    pointer-events: auto;
}

.input-env button:hover {
    background: #2d059c;
}

.input-env button i {
    padding: 15px;
}

.wrapper .todo-list {
    max-height: 250px;
    overflow-y: auto;
}

.todo-list li {
    position: relative;
    list-style: none;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.todo-list li span {
    position: absolute;
    right: -50px;
    top: 0;
    border-radius: 0 5px 5px 0;
    height: 100%;
    background-color: #e9361f;
    transition: all 0.3s ease;
    cursor: pointer;
}

.todo-list li:hover span {
    right: 0px;
}

.todo-list li span i {
    padding: 15px;
    /* padding-right: 15px; */
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer button {
    width: fit-content;
    color: #fff;
    background: #512cb9;
    border-radius: 3px;
    padding: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    pointer-events: none;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

.footer button:hover {
    background: #2d059c;
}